//@tailwind base;
@tailwind utilities;

.more-options-button {
    position: absolute;
    top: -20px;
    right: 10px;
}

.width-100 {
    width: 100%;
}

.aoat-sidebar {
    top: 5vh;
    height: 90vh;
}

.multiselect__input {
    border: none !important;
}
